{% extends "main/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<h1 class="display-4">About</h1>
    <p class="lead">
        Hello! On this website you can create an account, login, ask and answer questions, edit them, mark questions as answered and answers as "valuable" (only in your own questions) and of course vote up and down on them.
        <br><br>
        I created this website in order to train my Django skills. In development I used of course Django, Python, PostgreSQL, HTML, CSS, BootStrap and a little bit of JavaScript and Ajax.
        <br><br>
        If you would like you can check my other projects on GitHub  <a href="https://github.com/m-niemiec?tab=repositories" target="_blank">here</a>.
        <br><br>
        If you would like to contact me, you can write at <b>michal.niemiec.it *at* gmail.com</b>
        <br><br>
        Thanks and Cheers, Michał!
    </p>

</body>
</html>
{% endblock %}