<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>5W1H</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    5W1H
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            <a class="nav-item nav-link" href="{% url 'askaquestion' %}">Ask a Question! | </a>
            <span class="navbar-text">
            Logged in as {{ user.username }}
                </span>
            <form class="form-inline my-2 my-lg-0" action="{% url 'logoutuser' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">Log Out</button>
            </form>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'signupuser' %}">Sign Up</a>
            <a class="nav-item nav-link" href="{% url 'loginuser' %}">Login</a>
        {% endif %}
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
{% include 'main/partials/messages_section.html' %}

{% block content %}{% endblock %}
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#voteup', function(event){
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "voteup" %}',
                data: {'question_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: 'json',
                success: function(response){
                    $('#voting_section').html(response['form'])
                    console.log($('#voting_section').html(response['form']));
                },
                error: function(rs, e){
                    console.log(rs.responseText);
                },
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#votedown', function(event){
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "votedown" %}',
                data: {'question_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: 'json',
                success: function(response){
                    $('#voting_section').html(response['form'])
                    console.log($('#voting_section').html(response['form']));
                },
                error: function(rs, e){
                    console.log(rs.responseText);
                },
            });
        });
    });
</script>

</body>
</html>