{% extends "main/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div class="card" >
  <div class="card-header">
      <h1>Your questions:</h1>
        </div>
  <div class="card-body">
      <ul>
    {% for Question in yourquestions %}
    <li>
        <a href="{% url 'viewquestion' Question.id %}">
        ID#{{ Question.id }} <b>{{ Question.question }}</b>
        </a>
    </li>
    {% endfor %}
</ul>
</div>
</div>
<br><hr><br>
<div class="card" >
  <div class="card-header">
<h1>Your answers:</h1>
        </div>
      <div class="card-body">
<ul>
    {% for Answer in youranswers %}
    <li>
        <a href="{% url 'viewanswer' Answer.id %}">
        {{ Answer.question_id }} - ID#{{ Answer.id }} <b>{{ Answer.answer }}</b>
        </a>
    </li>
    {% endfor %}
</ul>
</div>
</div>
</body>
</html>
{% endblock %}



