{% extends "main/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
We have {{ questions_count }} questions and {{ answers_count }} answers !
{{ test1 }}

<h1>All Questions:</h1>
    {% for question in allquestions %}



<div class="card" style="max-width: 1080px;">
  <div class="card-header">
    Author: {{ question.user }} Created: {{ question.created|date:'M j Y H:i' }} Answered: {{ question.answered }}
  </div>
    <div class="card-body">
    <a href="{% url 'questiondetails' question.id %}">{{ question|truncatechars:100 }}</a><br>

                {% for answer in question.answer_set.all|slice:":3" %}
            {{ answer|striptags|truncatechars:50 }}<br>
        {% endfor %}
  </div>
    </div>
<br>
    {% endfor %}


<ul class="pagination">
    {% if allquestions.has_previous %}
        <li class="page-item">
            <a href="?page={{ allquestions.previous_page_number }}" class="page-link">&laquo;</a>
        </li>
    {% endif %}

    {% for question in page_range %}
        {% if allquestions.number == question %}
            <li class="page-item active">
                <a href="?page={{ question }}" class="page-link">{{ question }}</a>
            </li>
        {% else %}
            <li class="page-item">
                <a href="?page={{ question }}" class="page-link">{{ question }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if allquestions.has_next %}
        <li class="page-item">
            <a href="?page={{ allquestions.next_page_number }}" class="page-link">&raquo;</a>
        </li>
    {% endif %}
</ul>

</body>
</html>
{% endblock %}

