{% extends "main/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Author: {{ question.user }} Created: {{ question.created }} Answered: {{ question.answered }}<br><br>
{{ question }}
        <br><br>
<div id="voting_section">
{% include 'main/partials/voting_section.html' %}
</div>

        {% for answer in question.answer_set.all %}
            {{ answer }} <br>
            Valued Answer: {{ answer.appreciated_answer }}<br>
            {% if user == question.user and answer.appreciated_answer == False %}
            <form method='POST' action="{% url 'appreciatedanswer' answer.id %}">
            {% csrf_token %}
            <button type='submit' id="appreciatedanswer" name="question_id" value="{{ answer.id }}">Appreciate</button>
            </form>
            {% endif %}
        {% endfor %}

<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Here is your answer!</button>
</form>
</body>
</html>

{% endblock %}