{% extends "main/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

{{ error }}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="floatleft">
    <button type="submit" class="btn btn-success">Save new Question</button>
        </div>
</form>

<form method="POST" action="{% url 'deletequestion' question.id %}">
    {% csrf_token %}
    <div class="floatleft">
    <button type="submit" class="btn btn-danger">Delete Question</button>
        </div>
</form>

</body>
</html>
{% endblock %}
